<header>
  <div class="row justify-content-center align-items-center my-3 mt-md-5">
    <div class="col-12 text-white text-center">
      <h1>Carlos Humberto Patiño Salazar</h1>
      <h2><span class="badge badge-pill badge-dark">Full Stack Developer Challenge</span></h2>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <button type="button" class="btn btn-dark btn-rounded btn-lg float-right my-3"
        data-toggle="modal" data-target="#createPersonModal">Create person</button>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">CC</th>
            <th scope="col">Full Name</th>
            <th scope="col">Birth Day</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons">
            <th scope="row">{{person.id}}</th>
            <td>{{person.cc}}</td>
            <td>{{person.fullname}}</td>
            <td>{{person.birth | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="createPersonModal" tabindex="-1" role="dialog"
  aria-labelledby="createPersonModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createPersonModalTitle">Create a person</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="personForm" [formGroup]="personForm" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="form-group">
            <div class="form-group">
              <label for="cc">CC</label>
              <input type="number" formControlName="cc" id="cc" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.cc.errors }" autocomplete="false" />
              <div *ngIf="submitted && f.cc.errors" class="invalid-feedback">
                <div *ngIf="f.cc.errors.required">CC is required</div>
              </div>
            </div>
            <label for="fullname">Full name</label>
            <input type="text" formControlName="fullname" id="fullname" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" autocomplete="false" />
            <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
              <div *ngIf="f.fullname.errors.required">Full name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="birth">Birth</label>
            <input type="date" formControlName="birth" id="birth" id="birth" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.birth.errors }" autocomplete="false">
            <div *ngIf="submitted && f.birth.errors" class="invalid-feedback">
              <div *ngIf="f.birth.errors.required">Birth is required</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-rounded btn-lg"
          data-dismiss="modal">Close
          modal</button>
        <button type="submit" form="personForm"
          class="btn btn-dark btn-rounded btn-lg float-right my-3">Create
          Person</button>
      </div>
    </div>
  </div>
</div>