version: 2.1
orbs:
  node: circleci/node@4.1.0

workflows:
  test_my_app:
    jobs:
      - test

jobs:
  test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          app-dir: ~/project/BACKEND
          cache-path: ~/project/BACKEND/node_modules
          override-ci-command: npm install
      - run: cd BACKEND
      - run: npm run test